.headerImg {
    width: 100%;
    min-height: 32vh;
    margin: 0px;
    margin-left: 0;
    padding: 0px;
    position: sticky;
    background-size: 1500px;
    background-repeat: repeat-x;
    background-image: url("/Assets/Site/Triangles.webp");
    display: flex;
    justify-content: center;
    align-items: center;
}

/*HEADER OVERLAY*/
.headerOverlay {
    width: 70%;
    min-height: 32vh;
    margin: 0;
    padding: 0;
    position: sticky;
    display: flex;
    flex-flow: column;

    align-content: flex-start;
}

.blackTSBoxDesc,
.blackTSBoxTitle {
    background-color: rgba(7, 7, 7, 0.9);
    width: fit-content;

}

.blackTSBoxDesc {
    display: flex;

    text-align: center;

    padding: 5px;

    margin: auto;
}

.blackTSBoxTitle {
    /*margin-left: calc((70vw - (450px + 450px + 1.5rem))/2);*/
    margin: auto;
    padding: 10px;
    min-width: 490px;
}

@media (max-width: 950px) {
    .headerOverlay {
        width: 100%;
    }

    .blackTSBoxTitle {
        margin: auto;
        margin-bottom: 10px;

        min-width: 370px;
    }
}

@media (max-width: 400px) {
    .blackTSBoxTitle {
        /*margin-left: calc((70vw - (450px + 450px + 1.5rem))/2);*/
        margin: auto;
        padding: 20px;

        min-width: 250px;
        max-width: 250px;

        min-height: 160px;
    }

    .headerImg,
    .headerOverlay {
        min-height: 37vh;
    }

}

@media (max-height: 700px) {
    .blackTSBoxDesc {
        margin: auto;
    }
}