.title,
.longTitle {
    line-height: 1.15;
    font-size: 4rem;
    margin: 1% 0 0;

    display: flex;
    align-content: flex-start;
}

/*LongTitle is the same as title but will resize more aggressively*/
@media (max-width: 400px) {
    .longTitle {
        font-size: 35px;
    }
}