.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 70%;
    margin-top: 3rem;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: #c0c0c0;
    text-decoration: none;
    border: 3px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 450px;
    width: 45%;

    min-height: 12rem;
}

.card:hover,
.card:focus,
.card:active {
    color: #ac83ce;
    border-color: #6d00c7;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.spacer {
    height: 10px;
    width: 100%;
}

@media (max-width: 950px) {
    .grid {
        width: 100%;
        max-width: 100%;
        flex-direction: column;
    }

    .card {
        max-width: 400px;
        width: 90%;
    }
}