.subpageHeader {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;

    top: 0;
    height: 90px;
    width: 100vw;
    position: fixed;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: row;
    z-index: 1000;
}

.headerSpacer {
    flex-grow: 1;
}

.headerTitleBox {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.headerTitleBox h1 {
    display: inline-block;
}

.headerButtonBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}

.headerNameBox {
    overflow: hidden;
    float: left;
    color: #000;

    align-content: center;
    justify-content: center;

    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;

    flex-basis: 90px;
    flex-grow: 0;

    height: 90px;
    width: 90px;
}

.centeredBox {
    width: 100%;
    height: 100%;
    padding: 10%;
}

.headerNameBox,
.headerButtonBox {
    background-color: #7e0097;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.637);
    border-radius: 10px;
}

.subpageTitle {
    font-size: 34px;
    font-weight: lighter;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.55);
    display: inline-block;
    text-align: center;
}

.subpageName {
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.459);
    cursor: pointer;
}

.subpageName h2 {
    display: inline-block;
}

.subpageButton {
    height: 45%;

    background-color: rgba(0, 0, 0, 0.1);

    border: 1px solid #b9b9b9;
    border-radius: 5px;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.596);

    display: flex;
    justify-items: center;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;

    white-space: nowrap;

    font-size: 18px;
}

.subpageButton:hover,
.subpageButton:active,
.subpageButton:focus {
    box-shadow: 3px 5px 5px black;
    background-color: rgba(0, 0, 0, 0.342);
    cursor: pointer;
}

.headerNameBox:hover,
.headerNameBox:active,
.headerNameBox:focus {
    cursor: pointer;
    background-color: #4b045b;;
}

@media (max-width: 600px) {
    .headerButtonBox {
        border-radius: 0;
        box-shadow: 0 0 0 0;
        margin: 0;
        font-size: 50%;
    }

    .subpageButton:hover,
    .subpageButton:active,
    .subpageButton:focus,
    .headerNameBox:hover,
    .headerNameBox:active,
    .headerNameBox:focus {
        background-color: #232323;
        box-shadow: 0 0 0 0;
    }

    .headerNameBox {
        background-color: #7e0097;

        width: 70px;
        height: 70px;

        margin: 0;
        font-size: 130%;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;

        border-radius: 0;
        border: 0;

        box-shadow: 0 0 0 0;
        border-right: 1px solid #eaeaea;
    }

    .subpageName {
        padding-left: 10px;
        padding-right: 10px;
        margin: auto
    }

    .subpageHeader {
        margin: 0;
        height: 70px;
        width: 100%;
        padding: 0;
        border-radius: 20px;
    }

    .headerSpacer {
        background-color: #7e0097;
    }

    .subpageButton {
        height: 100%;
        border-radius: 0;
        border: 0;
        border-left: 1px solid #b0b0b0;

        font-size: 200%;
        box-shadow: 0 0 0 0;
        margin: 0;
    }

    .headerButtonBox {
        padding: 0;
        margin: 0
    }
}

@media (max-width: 500px) {
    .headerSpacer {
        display: none;
    }

    .subpageButton {
        flex-grow: 1;
        text-align: center;
    }

    .headerNameBox {
        border-right: 0;
    }

    .headerButtonBox {
        flex-grow: 1;
    }
}

@media (max-width: 360px) {
    .subpageButton {
        font-size: 150%;
    }
}

@media (max-width: 350px) {
    .subpageButton {
        font-size: 100%;
    }
}