
.image {
    width: 90%;
    height: auto;
    object-fit: contain;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    overflow: hidden;
}

.showcaseWrapper {
    width: 100%;
    height: auto;

    margin-top: 50px;
    margin-bottom: 50px;
}

.showcase {
    background-repeat: no-repeat;
    align-self: center;
    display: flex;

    margin: auto;

    padding: 0;
    top: 0;
    width: 75vw;
    height: fit-content;
    background-color: #18001d;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.637);
    align-items: stretch;
    justify-content: center;
    align-content: center;
}

.embla {
    overflow: hidden;
    width: 95vw;
}

.slideContainer {
    display: flex;
    width: 100%;
}

.slide {
    flex: 0 0 100%;
    display: flex;
    position: relative;
    align-content: center;
    flex-direction: row;
}

.slideButton_next,
.slideButton_prev {

    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: transparent;


    z-index: 100;
    cursor: pointer;


    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;


    width: 4%;
    min-width: 29px;
}

.slideButton_next:before,
.slideButton_prev:before {
    content: ' ';
    display: block;
    height: 4%;
}

.slideButton_next {
    margin-left: 95.5%;
}
.slideButton_prev {
    margin-right: 95%;
}

.carousel {
    position: relative;
}

.buttonImage {
    width: 40px
}

/*MOBILE */
@media (max-width: 700px) {
    .showcase{
        width: 99%;
    }
    .slideButton_prev,
    .slideButton_next {
        width: 6%;
    }

    .slideButton_prev {
        margin-right: 94%;
        margin-left: 0;
    }
    .slideButton_next {
        margin-left: 94%;
    }
}
