.footerLink {
    text-decoration: underline;
    cursor: pointer;
}

.container {
    min-height: 100vh;

    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*TITLE STUFF*/
.title,
.longTitle {
    line-height: 1.15;
    font-size: 64px;
    margin: 1% 0 0;

    display: flex;
    align-content: flex-start;
}

.titleSpacer {
    height: 100px;
    width: 100vw;
    display: none;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title,
.description {
    text-align: center;
    text-shadow: black 0 0 5px;
}

.description {
    margin: 0;
    line-height: 1.5;
    font-size: 21px;
}

@media (max-width: 1300px) {
    .titleSpacer {
        display: block;
    }
}

@media (max-width: 950px) {
    .title {
        font-size: 48px;
        align-content: center;
        justify-content: center;
    }

    .description {
        max-width: 270px;
        min-width: 270px;
        font-size: 19px;
    }
}

/*LongTitle is the same as title but will resize more aggressively*/
@media (max-width: 500px) {
    .longTitle {
        font-size: 35px;
    }
}